.button {
  height: 48px;
  padding: 14px 64px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.primary_button {
  background: var(--primary-color);
  color: var(--white);
}

.primary_button:hover {
  background: var(--primary-hover);
}

.secondary_button {
  background: var(--secondary-color);
  color: var(--white);
}

.secondary_button:hover {
  background: var(--secondary-hover);
}

.alternate_button {
  background: var(--white);
  color: var(--grey-4);
  border: 1px solid var(--grey-3);
}

.alternate_button:hover {
  border-color: var(--black);
}
