.histogram {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 16px 24px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  box-sizing: border-box;
}

.histogram-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 6px;
  align-items: start;
}

.histogram-header__title {
  grid-column: 1;
  grid-row: 1;
  color: var(--grey-4);
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.histogram-header__value {
  grid-column: 1;
  grid-row: 2;
  color: var(--black);
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
}

.histogram-header__link {
  grid-column: 2;
  grid-row: 1;
  color: var(--blue-1);
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: right;
}

.histogram_chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
  height: 50px;
  width: auto;
}

.histogram_chart__column {
  flex: 1;
  background: var(--blue-1);
}
