@import '../fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import '../../components/footer/index.css';
@import '../../components/preview/index.css';
@import '../../components/article/index.css';
@import '../../components/navigation/index.css';
@import '../../components/header/index.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #374fc7;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

* {
  font-family: 'Inter', sans-serif;
}
