.skeleton {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  padding: 2rem 2.5rem 2rem 1.5rem;
}

.skeleton__top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}

.skeleton__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skeleton__photo {
  height: 64px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--grey-2);
}

.skeleton__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  flex: 1;
}

.skeleton__line {
  height: 1.25rem;
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
}

.skeleton__line_w40 {
  width: 40%;
}

.skeleton__line_w60 {
  width: 60%;
}

.skeleton__line_w90 {
  width: 90%;
}

.skeleton__line_mt {
  margin-top: 0.5rem;
}

.skeleton__line_mb {
  margin-bottom: 0.5rem;
}
